@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-border-radius {
    transition-property: border-radius;
  }
}

@layer {
  .nav-item {
    @apply relative flex place-items-center justify-center
    w-10 h-10 mx-3 my-2 sm:mx-4 sm:my-5
    bg-slate-700 text-green-600
    hover:bg-green-600 hover:cursor-pointer hover:text-slate-200
    active:bg-blue-500
    rounded-3xl hover:rounded-xl
    transition-border-radius duration-300 ease-linear
  }
}